{% extends 'base.html.twig' %}

{% block title %}Создание вопросов{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block content %}
    <div class="log">
        <h1>Редактирование вопроса</h1>
        <form method="post">
            <table class="tableForm">
                <tr>
                    <td>
                      {{ form_label(form.idQuiz, 'id викторины')}}
                    </td>
                </tr>
                <tr>
                    <td>
                       {{ form_widget(form.idQuiz)}}
                    </td>
                </tr>
                <tr>
                    <td>
                      {{ form_label(form.text, 'Вопрос')}}
                    </td>
                </tr>
                <tr>
                    <td>
                       {{ form_widget(form.text)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for answer in form.answers %}
                            {{ form_label(answer.text, 'Ответ') }}
                            {{ form_widget(answer.text) }}
                            {{ form_row(answer.isCorrect) }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="submit">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <table class="tableForm">
        {% include 'all_quiz/inputQuiz.html.twig' %}
    </table>
{% endblock %}