<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Викторина{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="header">
                <div class="contentSize">
                    <span id="siteName">Викторина</span>
                    <div class="table">
                        <table class="headerTable">
                            <tr>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td class="option">
                                    <a href="{{ path('admin') }}">Добавить</a>
                                    </td>
                                {% endif %}
                                {% if app.user %}
                                    <td class="option">
                                        <a href="{{ path('all_quizs') }}">Начать</a>
                                    </td>
                                    <td class="option">
                                        <a href="{{ path('app_logout') }}">Выйти</a>
                                    </td>
                                {% else %}
                                    <td class="option">
                                        <a href="{{ path('app_login') }}">Войти</a>
                                    </td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="text">
        {% block content %}
        {% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
